* {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 30px;
  color: #ce9797; }

p {
  line-height: 20px; }

body {
  background: linear-gradient(135deg, white, #fff5f5); }

.logo {
  height: 20px;
  width: 90px;
  padding: 1em; }
  @media only screen and (min-width: 1000px) {
    .logo {
      position: absolute;
      left: 5%;
      top: 10%; } }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 1000px) {
    .container {
      flex-direction: row; } }

.hero {
  background-image: url(../images/hero-mobile.jpg);
  background-position: center;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 700px) {
    .hero {
      background-image: url(../images/hero-desktop.jpg);
      background-position: inherit;
      height: 30%; } }
  @media only screen and (min-width: 1000px) {
    .hero {
      background-position: center;
      height: 100%;
      width: 50%;
      order: 2; } }

.text {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  height: 70%;
  justify-content: flex-start;
  position: relative; }
  @media only screen and (min-width: 1000px) {
    .text {
      height: 100%;
      width: 50%;
      text-align: initial;
      justify-content: center; } }
  .text::after {
    content: "";
    position: absolute;
    background-color: #ce9797;
    height: 30%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
    width: 100%;
    opacity: .1;
    top: 0;
    left: 0; }
  .text::before {
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    height: 16%;
    clip-path: polygon(0 0, 100% 0, 100% 14%, 0 100%);
    width: 100%;
    opacity: .1;
    bottom: 0;
    left: 0;
    transform: rotate(180deg); }
  .text .text-container {
    padding: 5em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (min-width: 1000px) {
      .text .text-container {
        height: 50%; } }
  .text h1 {
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 43px;
    line-height: 47px; }
  .text span {
    font-weight: 600;
    color: #413a3a; }
  .text p {
    font-weight: 300;
    color: #ce9797; }

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ce9797;
  border-radius: 30px;
  align-self: center;
  width: 375px; }
  @media only screen and (min-width: 1000px) {
    .email {
      align-self: end; } }
  .email:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
  .email__text {
    padding-left: 20px; }
  .email__rightarrow {
    padding: 15px 27px 15px 27px;
    border-radius: 27px;
    background: linear-gradient(135deg, #f8bfbf, #ee8c8c); }
